<template>
    <a v-if="link" :href="link" :class="buttonClassName">
        <span class="icon" v-if="faIcon">
            <i :class="'fa fa-' + faIcon"></i>
        </span>
    </a>
    <button v-else :class="buttonClassName" @click="$emit('click')">
        <span class="icon" v-if="faIcon">
            <i :class="'fa fa-' + faIcon"></i>
        </span>
        <span v-if="text">
            {{ text }}
        </span>
    </button>
</template>

<script>
export default {
    name: "bulma-button",
    props: [
        "faIcon",
        "small",
        "link",
        "text"
    ],
    computed: {
        buttonClassName() {
            return {
                "button": true,
                "is-small": this.small
            };
        }
    }
};
</script>

<style scoped>
    .is-small {
        font-size: 0.88rem;
    }
</style>
