<template>
    <div class="container">
        <form @submit.prevent="onFormSubmit()">
            <modal ref="formModal" :default-data="defaultItemData">
                <template slot="header" slot-scope="props">
                    {{ modalTitle(props.action) }}
                </template>
                <template slot="body" slot-scope="props">
                    <template v-for="formField in formFields">
                        <form-field>
                            <template v-if="formField.type === 'select'">
                                <v-select
                                        v-bind:key="formField.key"
                                        :value="props[formField.key]"
                                        @input="props.change(formField.key, $event)"
                                        :options="formField.options"
                                        :placeholder="formField.placeholder"
                                        :label="formField.label"
                                        :help="formField.help"
                                />
                            </template>
                            <template v-else-if="formField.type === 'static'">
                                <v-static-input
                                        :value="props[formField.key]"
                                        :label="formField.label"
                                        :help="formField.help"
                                />
                            </template>
                            <template v-else-if="formField.type === 'date'">
                                <v-date
                                    @input="props.change(formField.key, $event)"
                                    :value="props[formField.key]"
                                    :label="formField.label"
                                />
                            </template>
                            <template v-else>
                                <v-input
                                        v-bind:key="formField.key"
                                        :value="props[formField.key]"
                                        @input="props.change(formField.key, $event)"
                                        :label="formField.label"
                                        :placeholder="formField.placeholder"
                                        :help="formField.help"
                                />
                            </template>
                        </form-field>
                    </template>
                </template>
                <template slot="footer" slot-scope="props">
                    <bulma-button fa-icon="save"
                                  :text="modalButtonTitle(props.action)"
                    />
                </template>
            </modal>
        </form>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="panel">
                    <div class="panel-heading">
                        {{ itemsTitle }}
                    </div>
                    <div class="panel-block add-new-item-row">
                        <div class="columns">
                            <div class="column" @click="onAddNewItemClick">
                                <span class="icon">
                                    <i class="fa fa-plus"></i>
                                </span>
                                {{ addItemTitle }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder="Пошук" v-model="searchQuery">
                            <span class="icon is-small is-left">
                                <i class="fa fa-search"></i>
                            </span>
                        </p>
                    </div>
                    <template v-if="editableItems.length">
                        <div class="panel-block" v-for="item in filteredItems">
                            <div class="columns">
                                <div class="column is-9">
                                    <slot name="item" :item="item">
                                    {{ showItem(item) }}
                                    </slot>
                                </div>
                                <div class="column is-3 has-text-right">
                                    <slot name="additional-actions" :item="item"/>
                                    <bulma-button
                                            fa-icon="edit"
                                            :small="true"
                                            @click="onEditItemClick(item)"
                                    />
                                    <bulma-button
                                            fa-icon="remove"
                                            :small="true"
                                            @click="onDeleteItemClick(item)"
                                    />
                                </div>
                            </div>
                        </div>
                    </template>
                    <div class="panel-block" v-else>
                        <div class="columns">
                            <div class="column is-12 has-text-centered">
                                Список пустий
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Modal from "./Modal";
import VSelect from "./VSelect";
import BulmaButton from "./BulmaButton";
import VInput from "./VInput";
import _ from "lodash";
import axios from "axios";
import Notifications from "../Notifications";
import {handleResponseError} from "../helpers";
import FormField from "./FormField";
import VStaticInput from "./VStaticInput";
import VDate from "./VDate";

export default {
    components: {
        VDate,
        VStaticInput,
        FormField,
        VInput,
        BulmaButton,
        VSelect,
        Modal
    },
    name: "editable-items-list",
    props: {
        formFields: {
            required: true,
            type: Array
        },
        items: {
            required: true,
            type: Array
        },
        itemsTitle: {
            required: true,
            type: String
        },
        addItemTitle: {
            required: true,
            type: String
        },
        editItemTitle: {
            required: true,
            type: String
        },
        deleteItemTitle: {
            required: true,
            type: String
        },
        showItem: {
            type: Function,
            required: false
        },
        apiUrl: {
            required: true,
            type: String
        },
        onItemCreate: {
            required: false,
            type: Function
        },
        onItemUpdate: {
            required: false,
            type: Function
        },
        onItemDelete: {
            required: false,
            type: Function
        },
        search: {
            type: Function
        }
    },
    computed: {
        defaultItemData() {
            return this.getDataForNewItemInModal();
        },
        filteredItems() {
            return this.editableItems.filter(item => {
                if (!this.search) {
                    return true;
                }

                return this.search(item, this.searchQuery.toLowerCase());
            });
        }
    },

    data() {
        return {
            editableItems: _.cloneDeep(this.items),
            searchQuery: ""
        };
    },
    methods: {
        getDataForNewItemInModal() {
            const itemInModal = {};
            this.formFields.forEach(formField => {
                itemInModal[formField.key] = null;
            });
            return {
                ...itemInModal,
                action: "CREATE",
            };
        },

        getDataForEditedItemInModal(item) {
            const itemInModal = {};
            this.formFields.forEach(formField => {
                itemInModal[formField.key] = item[formField.key];
            });

            return {
                ...itemInModal,
                id: item.id || this.editableItems.indexOf(item),
                action: "UPDATE"
            };
        },

        onAddNewItemClick() {
            this.$refs.formModal.show(this.getDataForNewItemInModal());
        },

        onEditItemClick(item) {
            this.$refs.formModal.show(this.getDataForEditedItemInModal(item));
        },

        onDeleteItemClick(deletedItem) {
            if (confirm("Ви впевнені?")) {
                this.deleteItem(deletedItem);
            }
        },

        modalTitle(action) {
            return action === "CREATE"
                ? this.addItemTitle
                : this.editItemTitle;

        },

        modalButtonTitle(action) {
            return action === "CREATE"
                ? "Додати"
                : "Зберегти";
        },

        onFormSubmit() {
            const data = this.$refs.formModal.getInnerData();
            if (data.action === "CREATE" && this.onItemCreate) {
                this.onItemCreate(data);
                return;

            }

            if(data.action === "UPDATE" && this.onItemUpdate) {
                this.onItemUpdate(data);
                return;
            }

            data.action === "CREATE"
                ? this.storeItem(data)
                : this.updateItem(data)
            ;
        },

        storeItem(itemData) {
            axios.post(this.apiUrl, itemData)
                .then(res => {
                    this.editableItems.push(res.data.item);
                    Notifications.success("Операція додавання була успішно завершена.");
                    this.$refs.formModal.hide();
                })
                .catch(error => handleResponseError(error, "Не вдалось зберети зміни"));
            //TODO set new item from response.

        },

        updateItem(itemData) {

            axios.put(this.apiUrl + "/" + itemData.id, itemData)
                .then(res => {
                    this.editableItems = this.editableItems.map(editableItem => editableItem.id == itemData.id
                        ? res.data.item
                        : editableItem
                    );
                    Notifications.success("Зміни були успішно збережені.");
                    this.$refs.formModal.hide();
                })
                .catch(error => handleResponseError(error, "Не вдалось зберети зміни"));
        },

        deleteItem(deletedItem) {
            if (this.onItemDelete) {
                this.onItemDelete(deletedItem);
                return;
            }

            axios.delete(this.apiUrl + "/" + deletedItem.id)
                .then(() => {
                    this.editableItems = this.editableItems.filter(item => deletedItem.id !== item.id);
                    Notifications.success("Операція видалення була успішно завершена.");
                }
                ).catch(error => handleResponseError(error, "Не вдалось видалити елемент зі списку."));

        }
    }
};
</script>

<style scoped>
    .panel-block {
        display: block;
    }

    .add-new-item-row {
        cursor: pointer;
    }
</style>
