<template>
    <div class="panel">
        <p class="panel-heading">
            {{ panelHeading }}
        </p>
        <div class="panel-block">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Пошук">
                <span class="icon is-small is-left">
                    <i class="fa fa-search"></i>
                </span>
            </p>
        </div>
        <a class="panel-block">
            <div class="columns">
                <div class="column" @click="$emit('addNewItemClick')">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>
                    {{ addNewItemTitle }}
                </div>
            </div>
        </a>
        <div class="panel-block" v-for="item in items">
            <slot name="item" v-bind="item"/>
        </div>
    </div>
</template>

<script>
export default {
    name: "index-items",
    props: [
        "items",
        "addNewItemTitle",
        "panelHeading"
    ]
};
</script>

<style scoped>
    .panel-block {
        display: block
    }
</style>
