<template>
    <div :class="{modal: true, 'is-active': showModal}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    <slot name="header" v-bind="innerData">
                        {{ title }}
                    </slot>
                </p>
                <a class="delete" aria-label="close" @click="hide()"></a>
            </header>
            <section class="modal-card-body">
                <slot name="body" v-bind="innerData" :change="updateInnerData"/>
            </section>
            <footer class="modal-card-foot">
                <slot name="footer" v-bind="innerData"/>
            </footer>
        </div>
    </div>
</template>

<script>
import _ from "lodash";

export default {
    name: "modal",
    props: {
        title: {
            required: false,
            default: "Modal"
        },
        defaultData: {
            required: false,
            default: () => {}
        }
    },
    data() {
        return {
            showModal: false,
            innerData: _.cloneDeep(this.defaultData)
        };
    },
    methods: {
        show(data) {
            this.showModal = true;
            if (data !== undefined) {
                // this.innerData = {};
                this.innerData = data;
            }
        },

        hide() {
            this.innerData = _.cloneDeep(this.defaultData);
            this.showModal = false;
        },

        getInnerData() {
            return this.innerData;
        },

        updateInnerData(key, value) {
            this.innerData[key] = value;
        }
    },
    mounted() {
        document.addEventListener("keydown", event => {
            if (event.keyCode == 27) {
                this.hide();
            }
        });
    }
};
</script>

<style scoped>
    .modal-card-foot {
        justify-content: center;
    }
</style>
