<template>
    <div>
        <div class="tabs__container">
            <div    v-for="(tab,i) in tabs"
                    :class="{tab: true, 'tab--active' : activeTabIndex === i}"
                    :style="{width: `${100/tabs.length}%`, cursor: allowSwitching ? 'pointer' : 'auto'}"
            >
                <span class="tab__title" @click="() => setActiveTab(i)">{{ tab.title }}</span>
            </div>
            <hr class="divider"/>
        </div>
        <div class="tabs__content-container">
            <slot :name="tabs[activeTabIndex].contentSlotName"/>
        </div>
    </div>
</template>

<script>
export default {
    name: "tabs",
    props: {
        tabs: {
            required: true,
            type: Array
        },
        allowSwitching: {
            default: true,
            type: Boolean
        }
    },
    data() {
        return {
            activeTabIndex: 0
        };
    },
    methods: {
        setActiveTab(index) {
            if (this.allowSwitching) {
                this.activeTabIndex = index;
            }
        },

        nextTab()
        {
            this.activeTabIndex = (this.activeTabIndex === this.tabs.length - 1) ? 0 : (this.activeTabIndex + 1);
        },

        prevTab() {
            this.activeTabIndex = (this.activeTabIndex === 0) ? this.tabs.length - 1 : (this.activeTabIndex - 1);
        }
    }
};
</script>

<style scoped lang="scss">
    @import "~bulma/sass/utilities/initial-variables.sass";

    .tabs__container {
        width: 100%;
        height: 70px;
    }

    .tab {
        float: left;
        text-align: center;
        padding: 5px;
    }

    .tab--active {
        color: $green;
    }

    .tabs__content-container {
        width: 100%;
    }
</style>
