<template>
    <div>
        <label v-if="label" class="label">
            <span v-if="help" class="icon" title="Буде згенеровано автоматично">
                <i class="fa fa-question-circle-o">

                </i>
            </span>
            {{ showedLabel }}
        </label>
        <div class="control">
            <datepicker :disabled-dates="{to: new Date(2018, 8, 1)}" :open-date="new Date(2018, 8, 1)" input-class="input" :value="value" :language="uk" @input="onDateUpdate"/>
        </div>
    </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import inputMixin from "./inputMixin";
import {uk} from "vuejs-datepicker/dist/locale";

export default {
    components: {Datepicker},
    name: "v-date",
    mixins: [inputMixin],
    data() {
        return {uk};
    },
    methods: {
        onDateUpdate(arg) {
            this.updateValue(`${arg.getFullYear()}-${this.fillNumber(arg.getUTCMonth() + 1)}-${this.fillNumber(arg.getUTCDate())}`);
        },
        fillNumber(numb) {
            if (numb < 10) {
                return "0" + numb;
            }

            return numb;
        }
    }
};
</script>

<style>
    .vdp-datepicker__calendar {
        position: fixed !important;
    }
</style>
