<template>
    <div>
        <label class="label">
            {{ showedLabel }}
        </label>
        <div class="control" style="position: relative" @click="$refs.input.click()">
            <span class="photo-icon" v-if="!value">
                <i class="fa fa-photo"/>
            </span>
            <img :src="value" class="uploaded-image">
            <span class="icon">
                <i class="fa fa-edit fa-2x"></i>
            </span>
        </div>
        <input ref="input" style="display: none" type="file" @change="onFileUpload($event.target.name, $event.target.files)" accept="image/*">
    </div>
</template>

<script>
import inputMixin from "./inputMixin";
import Notifications from "../Notifications";

export default {
    name: "v-image-input",
    mixins: [inputMixin],
    methods: {
        isAllowedFormat(mimeType) {
            return (
                mimeType === "image/png"
                    || mimeType === "image/jpg"
                    || mimeType === "image/jpeg"
                    || mimeType === "image/gif"
            );
        },
        onFileUpload(fieldName, fileList) {
            console.error("Hi1");
            let file = fileList[0];

            if (! this.isAllowedFormat(file.type)) {
                Notifications.error("Невірний формат зображення");
                return;
            }

            const reader = new FileReader();
            reader.onloadend = () => {
                this.updateValue(reader.result);
            };

            reader.readAsDataURL(file);
        }
    }
};
</script>

<style scoped>
    .control {
        width: 120px;
        height: 120px;
    }

    .uploaded-image {
        height: 100%;
        width: 100%;
        cursor: pointer;
        border: 1px solid transparent;
    }

    .control:hover .uploaded-image {
        border: 1px solid lightgray;
        opacity: 0.5;
    }

    .icon {
        position: absolute;
        top: 50px;
        cursor: pointer;
        left: 50px;
        display: none;
    }

    .control:hover .icon, .icon:hover {
        display: block;
    }

    .photo-icon {
        position: absolute;
        font-size: 80px;
        left: 17px;
        opacity: 0.4;
    }
</style>
