<template>
    <div>
        <label v-if="label" class="label">
            <span v-if="help" class="icon" title="Буде згенеровано автоматично">
                <i class="fa fa-question-circle-o">

                </i>
            </span>
            {{ showedLabel }}
        </label>
        <div class="control">
            <input
                    :id="id"
                    :value="value"
                    @input="updateValue($event.target.value)"
                    class="input"
                    :type="type"
                    :placeholder="placeholder">
        </div>
    </div>
</template>

<script>
import inputMixin from "./inputMixin";

export default {
    name: "v-input",
    mixins: [inputMixin],
    props: {
        type: {
            default: "text"
        },
        id: {
            default: null
        }
    }
};
</script>

<style scoped>

</style>
