<template>
    <div>
        <label v-if="showedLabel" class="label">{{ showedLabel }}</label>
        <div class="control">
            <div class="select">
                <select :id="id" style="width: 100%" @input="updateValue($event.target.value)">
                    <option v-if="placeholder" value="" :selected="!value">
                        {{ placeholder }}
                    </option>
                    <option v-for="option in options" :value="option.value" :selected="value == option.value">
                        {{ option.label }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
import inputMixin from "./inputMixin";

export default {
    name: "v-select",
    mixins: [inputMixin],
    props: {
        options: {
            default: [],
            type: Array
        }
    }
};
</script>

<style scoped>
    .select {
        width: 100%;
    }
</style>
