<template>
    <div>
        <label v-if="label" class="label">
            <span v-if="help" class="icon" :title="help">
                <i class="fa fa-question-circle-o"></i>
            </span>
            {{ showedLabel }}
        </label>
        <div class="control">
            <div class="input">{{ value }}</div>
        </div>
    </div>
</template>

<script>
import inputMixin from "./inputMixin";

export default {
    name: "v-static-input",
    mixins: [inputMixin],
    props: {
        type: {
            default: "text"
        }
    }
};
</script>

<style scoped>

</style>
