<template>
    <div>
        <label v-if="label" class="label">{{ label }}</label>
        <div class="control">
            <textarea
                    :rows="rowsCount"
                    class="textarea"
                    :id="id"
                    :placeholder="placeholder"
                    @input="updateValue($event.target.value)"
                    :value="value"
            >
            </textarea>
        </div>
    </div>
</template>

<script>
import inputMixin from "./inputMixin";

export default {
    name: "v-textarea",
    props: {
        rowsCount: {
            default: null
        }
    },
    mixins: [inputMixin]
};
</script>

<style scoped>

</style>
