<template>
    <div class="container">
        <mobile-page-title title="Повідомлення" :margined="false"/>
        <div class="panel">
            <template v-if="messages.length">
            <messages-single-message v-for="(message, index) in messages"
                                     :key="index"
                                     :conservation-title="message.conservationTitle"
                                     :conservation-type="message.conservationType"
                                     :last-message-text="message.lastMessageText"
                                     :last-message-at="message.lastMessageAt"
                                     :is-read="message.isRead"
                                     :user-id="message.user_id"
                                     :user-avatar-url="message.user_avatar_url"
            />
            </template>
            <div v-else>
                <h2 class="title is-4 has-text-centered" style="margin-top: 10px">
                    У вас ще немає діалогів.
                </h2>
            </div>
        </div>
    </div>
</template>

<script>
import MobilePageTitle from "../components/MobilePageTitle";
import MessagesSingleMessage from "../components/MessagesSingleMessage";

export default {
    components: {
        MessagesSingleMessage,
        MobilePageTitle
    },
    name: "conservations-container",
    props: ["messages"]
};
</script>

<style scoped>

</style>
