<template>
    <div>
        <mobile-page-title title="Додати нову новину" :margined="false"/>
        <div class="columns">
            <div class="column has-text-centered is-hidden-mobile is-hidden-touch">
                <h3 class="title is-3">Додати нову новину</h3>
            </div>
        </div>
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <form @submit.prevent="saveChanges">
                    <form-field>
                        <v-input v-model="uploadedNewsItem.title" label="Заголовок"/>
                    </form-field>
                    <form-field>
                        <v-image-input v-model="uploadedNewsItem.image" label="Зображення"/>
                    </form-field>
                    <form-field>
                        <v-textarea v-model="uploadedNewsItem.previewText" label="Короткий опис:"/>
                    </form-field>
                    <form-field>
                        <label class="label">Повний текст новини:</label>
                        <wysiwyg v-model="uploadedNewsItem.fullText"/>
                    </form-field>
                    <form-field class="has-text-centered">
                        <bulma-button class="is-success" text="Опублікувати"/>
                    </form-field>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import VImageInput from "../../components/VImageInput";
import FormField from "../../components/FormField";
import VInput from "../../components/VInput";
import axios from "axios";
import VTextarea from "../../components/VTextarea";
import BulmaButton from "../../components/BulmaButton";
import MobilePageTitle from "../components/MobilePageTitle";
import Notifications from "../../Notifications";
import {handleResponseError} from "../../helpers";

export default {
    components: {
        MobilePageTitle,
        BulmaButton,
        VTextarea,
        VInput,
        FormField,
        VImageInput
    },
    name: "create-news",
    data() {
        return {
            uploadedNewsItem: {
                image: null,
                title: null,
                previewText: null,
                fullText: null
            },
        };
    },
    methods: {
        saveChanges() {
            axios.post("/school/api/news", {
                image: this.uploadedNewsItem.image,
                title: this.uploadedNewsItem.title,
                preview_text: this.uploadedNewsItem.previewText,
                full_text: this.uploadedNewsItem.fullText
            }).then(() => {
                Notifications.success("Новина успішно опублікована.");
                window.location.href = "/school/news";
            }).catch(err => handleResponseError(err, "Не вдалось опублікувати новину."));
        }
    }
};
</script>

<style scoped>

</style>
