<template>
    <div class="container box">
        <mobile-page-title title="Щоденник"/>
        <daybook-pagination
                :day-from-title="daybookData.from.day"
                :month-from-title="daybookData.from.month"
                :day-to-title="daybookData.to.day"
                :month-to-title="daybookData.to.month"
                :prev-week-url="daybookData.prevUrl"
                :next-week-url="daybookData.nextUrl"
        />
        <daybook-day
                v-for="(day, index) in this.daybookData.days"
                :key="index"
                :dayname-title="day.dayname"
                :day-title="day.day"
                :month-title="day.month"
                :subjects="day.subjects"
        />
    </div>
</template>

<script>
import DaybookPagination from "../components/DaybookPagination";
import DaybookDay from "../components/DaybookDay";
import MobilePageTitle from "../components/MobilePageTitle";

export default {
    name: "daybook-container",
    props: ["daybookData"],
    components: {
        MobilePageTitle,
        DaybookDay,
        DaybookPagination,
    },
};
</script>
