<template>
    <div class="container" style="">
        <mobile-page-title title="Діалог"/>
        <div class="columns">
            <div class="box column is-12-mobile is-10-desktop is-offset-1-desktop">
                <div class="panel">
                    <div class="panel-heading is-vcentered">
                            <img :src="userAvatar" style="display: inline-block; height: 55px; border-radius: 15px;"/>
                            <div style="display: inline-block; vertical-align: top; margin-top: 17px;">{{ userTitle }}</div>
                    </div>
                    <div class="panel-block" style="display: block; max-height: 500px; overflow-y: auto" ref="messagesPanelBlock">
                        <div v-for="message in messages">
                            <div class="columns">
                                <div :class="{
                                            'column' : true,
                                            'is-7': message.type == 'to',
                                            'is-offset-5 is-7': message.type == 'from'
                                    }">
                                    <article class="message is-info">
                                        <div class="message-header">
                                            <p>{{ message.type == 'to' ? userName : "Ви"}}</p>
                                            <p>
                                           <span class="icon">
                                              <i class="fa fa-clock-o"></i>
                                            </span>
                                                {{ message.sended_at }}
                                            </p>

                                        </div>
                                        <div class="message-body" style="padding: 8px">
                                            <template v-for="messagePeace in message.body.split('\n')">
                                                {{ messagePeace }}<br/>
                                            </template>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="has-text-centered" v-if="!messages.length">
                            <p style="padding: 10px">
                                В цьому діалозі ще немає повідомлень.
                            </p>
                        </div>
                    </div>
                    <div class="panel-block" style="display: block;">
                        <form @submit.prevent="sendMessage">
                            <div class="columns is-vcentered">
                                <div class="column is-10">
                                    <v-textarea v-model="sendedMessage" style="width: 100%" rows-count="3"/>
                                </div>
                                <div class="column is-2 has-text-centered">
                                    <bulma-button
                                            fa-icon="chevron-right"
                                            class="is-large  is-hidden-tablet"
                                            text="Відправити"
                                    />
                                    <bulma-button
                                            fa-icon="chevron-right"
                                            class="is-large is-hidden-mobile"
                                    />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MobilePageTitle from "../components/MobilePageTitle";
import VTextarea from "../../components/VTextarea";
import BulmaButton from "../../components/BulmaButton";
import _ from "lodash";
import axios from "axios";
import {handleResponseError} from "../../helpers";

export default {
    name: "full-conservation-container",
    components: {
        BulmaButton,
        VTextarea,
        MobilePageTitle
    },
    data() {
        return {
            messages: _.cloneDeep(this.messagesProp),
            sendedMessage: ""
        };
    },
    props: {
        userTitle: {
            required: true,
            type: String
        },
        userAvatar: {
            required: true,
            type: String
        },
        userName: {
            required: true,
            type: String
        },
        messagesProp: {
            required: true,
            type: Array
        },
        userId: {
            required: true
        }
    },
    methods: {
        sendMessage() {
            axios.post("/school/messages/" + this.userId, {body: this.sendedMessage}).then(res => {
                this.messages.push(res.data.message);
                this.sendedMessage = "";
                this.$nextTick(this.scrollMessagesToBottom);
            }).catch(err => handleResponseError(err, "Неможливо відправити повідомлення."));
        },

        scrollMessagesToBottom()
        {
            let objDiv = this.$refs.messagesPanelBlock;
            objDiv.scrollTop = objDiv.scrollHeight;
        },

        getNewMessages() {
            axios.get("/school/messages/" + this.userId + "/info").then(res => {
                const newMessages = res.data.messages.filter(message => !this.messages.find(m => m.id == message.id));
                this.messages = this.messages.concat(newMessages);
            });
        }
    },

    mounted() {
        this.scrollMessagesToBottom();
        window.setInterval(this.getNewMessages, 2000);
    }
};
</script>

<style scoped>

</style>
