<template>
    <div class="container box">
        <modal ref="addMatModal" title="Додати навчальний матеріал">
            <div slot="body" slot-scope="props">
                <form-field>
                    <v-input label="Назва" :value="props.title" @input="props.change('title', $event)"/>
                </form-field>
                <form-field>
                    <v-textarea label="Опис" v-model="props.description" @input="props.change('description', $event)"/>
                </form-field>
                <form-field>
                    <label>Файл:</label>
                    <input id="file" class="file" type="file">
                </form-field>
            </div>
            <div slot="footer">
                <div class="has-text-centered">
                    <bulma-button class="is-info" text="Додати" @click="addMaterial"/>
                </div>
            </div>
        </modal>
        <div class="columns">
            <div class="column is-12 has-text-centered">
                <h4 class="title is-4">
                    <span class="icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Навчальні матеріали
                </h4>
                <h4 class="title is-5">{{ subject.group.title }}, {{ subject.title }}</h4>
            </div>
        </div>
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop is-12-mobile">
            <div class="panel">
                <div class="panel-block" v-if="canEdit" style="display: block">
                    <div class="has-text-right">
                        <bulma-button text="Додати" fa-icon="plus" @click="openAddMatModal"/>
                    </div>
                </div>
                <div v-for="m in materials" class="panel-block" style="display: block; position: relative">
                    <div v-if="canEdit" style="cursor: pointer" @click="deleteMaterial">
                        <span class="icon" style="position: absolute; right: 0; top: 0">
                            <i class="fa fa-remove"></i>
                        </span>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <a class="reset-link" :href="'/school/education_materials/show/' + m.id ">
                                <h4 class="title is-5">{{ m.title }}</h4>
                            </a>
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-4 has-text-left" style="margin-top: -15px">
                            <span class="icon">
                                <i class="fa fa-clock-o"></i>
                            </span>
                            {{ m.date }}
                        </div>
                        <div class="column is-4 has-text-left" style="margin-top: -15px">
                            <span class="icon">
                                <i class="fa fa-user"></i>
                            </span>
                            {{ m.added_by }}
                        </div>
                        <div class="column is-4 has-text-right" style="margin-top: -15px" v-if="m.format">
                            <span class="icon">
                                <i class="fa fa-file"></i>
                            </span>
                            {{ m.format }}
                        </div>
                    </div>
                </div>
                <div v-if="!materials.length">
                    <div class="has-text-centered">
                        <div class="columns">
                            <div class="column">
                                <div class="panel-block" style="display: block; text-align: center">
                                Поки що навчальних матеріалів не було додано.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
import BulmaButton from "../../components/BulmaButton";
import Modal from "../../components/Modal";
import FormField from "../../components/FormField";
import VInput from "../../components/VInput";
import VTextarea from "../../components/VTextarea";
import axios from "axios";
import {handleResponseError} from "../../helpers";

export default {
    components: {
        VTextarea,
        VInput,
        FormField,
        Modal,
        BulmaButton},
    name: "index-ed-materials",
    props: {
        subject: {
            required: true,
            type: Object
        },
        canEdit: {
            required: true,
            type: Boolean,
        },
        materialsProp: {
            required: true,
            type: Array
        }
    },
    data() {
        return {
            materials: this.materialsProp
        };
    },
    methods: {
        openAddMatModal()
        {
            this.$refs.addMatModal.show({
                title: "",
                description: "",
            });
        },

        addMaterial() {
            const data = this.$refs.addMatModal.getInnerData();
            const formData = new FormData();
            const imagefile = document.querySelector("#file");
            formData.append("title", data.title);
            formData.append("description", data.description);
            formData.append("file", imagefile.files[0]);
            axios.post("/school/education_materials/" + this.subject.id, formData, {
                headers: {
                    "Content-Type": "multipart/form-data"
                }
            }).then(() => {
                window.location.reload();
            }).catch(err => handleResponseError(err, "Не вдалось додати матеріал"));
        },

        deleteMaterial(material) {
            if (confirm("Ви впевнені?")) {
                axios.delete("/school/education_materials/" + material.id)
                    .then(() => window.location.reload())
                    .catch(err => handleResponseError(err, "Неможливо видалити матеріал"));
            }
        }
    }
};
</script>

<style scoped>

</style>
