<template>
    <div class="container box">
            <modal title="Домашнє завдання" ref="homeworkModal">
                <div slot="body" slot-scope="props">
                    <form-field>
                        <v-textarea :label="' ' + props.date_formatted"
                            :value="props.text"
                            @input="props.change('text', $event)"
                        />
                    </form-field>
                </div>
                <div slot="footer">
                    <div class="has-text-centered">
                        <bulma-button text="Зберегти" @click="saveHomework"/>
                    </div>
                </div>
                <form-field>
                    <v-textarea/>
                </form-field>
            </modal>
        <form @submit.prevent="addNewColumn">
            <modal title="Додати нову колоноку"
                   ref="addNewColumnModal"
                   :default-data="this.getDefaultDataForModal()"
            >
                <div slot="body" slot-scope="props">
                    <form-field>
                        <v-date label="Дата"
                                :value="props.date"
                                @input="props.change('date', $event)"
                        />
                    </form-field>
                    <form-field>
                        <v-select
                                :options="lessonTypes"
                                label="Тип"
                                :value="props.type"
                                @input="props.change('type', $event)"
                        />
                    </form-field>
                </div>
                <div slot="footer">
                    <div class="has-text-centered">
                        <bulma-button text="Додати"/>
                    </div>
                </div>
            </modal>
        </form>
        <div class="columns">
            <div class="column is-12 has-text-centered">
                <h4 class="title is-4">{{ subject.group.title }}, {{ subject.title }}</h4>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <daybook-pagination
                        :day-from-title="fromDay"
                        :day-to-title="toDay"
                        :month-from-title="fromMonth"
                        :month-to-title="toMonth"
                        :prev-week-url="prevPageUrl"
                        :next-week-url="nextPageUrl"
                />
            </div>
        </div>
        <div class="columns" style="margin-bottom: 5px">
            <div class="column is-3" style="padding: 0; padding-left: 20px">
            </div>
            <div class="column is-3" style="padding: 0; padding-left: 20px">
                <span class="journal-action">
                     <span class="icon">
                        <i class="fa fa-book"></i>
                    </span>
                     <a class="reset-link" :href="'/school/education_materials/' + subject.id">
                        Навчальні матеріали
                     </a>
                </span>
            </div>
            <div class="column is-3 has-text-centered" style="padding: 0">
                <a class="reset-link journal-action" @click="onAddNewColumnClick">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>Додати колонку
                </a>
            </div>
            <div class="column is-3 has-text-centered" style="padding: 0">
                <a class="reset-link journal-action" @click="goToHomeworks">
                    <span class="icon">
                        <i class="fa fa-th-list"></i>
                    </span>Перейти до домашніх завдань
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="table__wrapper-wrapper">
                    <div class="table__wrapper">
                        <table class="table is-bordered pricing__table is-fullwidth">
                            <thead>
                            <tr class="headers-row">
                                <th></th>
                                <th class="column-header" v-for="lesson in lessons">
                                    <div>
                                        {{ formatDate(lesson.date) }}
                                    </div>
                                    <span class="column-header-add-info">
                                        {{ lesson.type.label }}
                                    </span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="user,index in users">
                                <td style="min-width: 200px">
                                    <a class="reset-link" :href="'/school/users/' + user.login">
                                    <span style="white-space: nowrap; overflow: hidden">
                                        {{ index + 1 }}. {{ user.last_name }} {{ user.first_name }}
                                    </span>
                                    </a>
                                </td>
                                <journal-mark-input
                                        class="journal-mark-input"
                                        v-for="lesson,lessonIndex in lessons"
                                        :value="getMarkValue(lesson, user)"
                                        @update="setMarkValue($event, lesson, user)"
                                        @delete="deleteMark"
                                        :key="lessonIndex + index"
                                />
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12" id="homeworks">
                <b>Домашні завдання</b>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="table__wrapper-wrapper">
                    <div class="table__wrapper">
                        <table class="table is-bordered pricing__table is-fullwidth">
                            <thead>
                            <tr class="headers-row">
                                <th>Дата</th>
                                <th>Домашнє завдання</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="homework in homeworks">
                                <td>
                                    {{ homework.date_formatted }}
                                </td>
                                <td>
                                    <bulma-button fa-icon="edit" @click="openHomeworkModal(homework)"/>
                                    <span v-for="h in homework.text.split('\n')">
                                        {{ h }}<br/>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import JournalMarkInput from "../components/JournalMarkInput";
import DaybookPagination from "../components/DaybookPagination";
import Modal from "../../components/Modal";
import BulmaButton from "../../components/BulmaButton";
import FormField from "../../components/FormField";
import VInput from "../../components/VInput";
import VDate from "../../components/VDate";
import VSelect from "../../components/VSelect";
import {formatDate, formatUTC, handleResponseError} from "../../helpers";
import axios from "axios";
import _ from "lodash";
import VTextarea from "../../components/VTextarea";

export default {
    components: {
        VTextarea,
        VSelect,
        VDate,
        VInput,
        FormField,
        BulmaButton,
        Modal,
        DaybookPagination,
        JournalMarkInput
    },
    name: "journal-container",
    props: {
        homeworksProp: {
            required: true,
            type: Array
        },

        subject: {
            required: true,
        },
        users: {
            required: true,
            type: Array
        },
        lessonsProp: {
            required: true,
            type: Array
        },
        fromDay: {},
        fromMonth: {},
        toDay: {},
        toMonth: {},
        prevPageUrl: {},
        nextPageUrl: {},
        lessonTypes: {
            type: Array,
            required: true
        },
        marksProp: {
            type: Array,
            required: true
        }
    },
    data() {
        return {
            lessons: this.lessonsProp.map(lesson => ({
                date: new Date(lesson.date),
                type: lesson.lessonType,
                timetable_item_id: lesson.timetableItemId,
                additional_lesson_id: lesson.additionalLessonId
            })),
            marks: _.cloneDeep(this.marksProp),
            homeworks: this.homeworksProp
        };
    },
    methods: {
        getDefaultDataForModal()
        {
            return {
                type: this.lessonTypes[0].value,
                date: null,
            };
        },

        onAddNewColumnClick() {
            this.$refs.addNewColumnModal.show(this.getDefaultDataForModal());
        },

        addNewColumn() {
            const lesson = this.$refs.addNewColumnModal.getInnerData();
            axios.post("/school/api/lessons", {
                lesson_type: lesson.type,
                group_subject_id: this.subject.id,
                date: lesson.date
            }).then(res => {
                this.$refs.addNewColumnModal.hide();
                const lesson = res.data.lesson;
                this.lessons.push({
                    date: new Date(lesson.date),
                    type: lesson.lessonType,
                    timetable_item_id: lesson.timetableItemId,
                    additional_lesson_id: lesson.additionalLessonId
                });
                this.lessons = _.orderBy(this.lessons, ["date"],["asc"]);
            }).catch(err => handleResponseError(err, "Не вдалось додати колонку"));
        },

        formatDate(date) {
            return formatDate(date);
        },

        goToHomeworks() {
            window.location.hash = "";
            window.location.hash = "#homeworks";
        },

        saveHomework() {
            const data = this.$refs.homeworkModal.getInnerData();
            axios.put("/school/api/homework", {
                date: formatUTC(data.date),
                work: String(data.text),
                group_subject_id: this.subject.id,
            }).then(() => {
                this.homeworks = this.homeworks.map(homework =>  {
                    return homework.date == data.date
                        ? {...homework, text: data.text}
                        : homework
                    ;
                });

                this.$refs.homeworkModal.hide();
            }).catch(err => handleResponseError(err, "Неможливо зберегти зміни"));
        },

        getMarkValue(lesson, user) {
            const findedMarks = this.marks.filter(mark => {
                return mark.user_id == user.id && (
                    mark.mark_type.value == lesson.type.value
                ) && formatUTC(mark.date) == formatUTC(lesson.date)
                  && (
                      mark.mark_lesson_type != "App\\Models\\TimetableItem"
                        || mark.mark_lesson_id == lesson.timetable_item_id
                  );
            });

            return findedMarks.length
                ? findedMarks[0]
                : null;
        },

        openHomeworkModal(lesson) {
            this.$refs.homeworkModal.show({...lesson});
        },

        deleteMark(deletedMark) {
            axios.delete("/school/api/marks/" + deletedMark.id).then(() => {
                this.marks = this.marks.filter(mark => deletedMark.id != mark.id);
            }).catch(err => handleResponseError(err, "Не вдалось видалити оцінку"));

        },

        setMarkValue(mark, lesson, user) {
            const requestData = {
                user_id: user.id,
                date: formatUTC(lesson.date),
                timetable_item_id: lesson.timetable_item_id,
                additional_lesson_id: lesson.additional_lesson_id,
                mark_value_id: mark.id
            };

            axios.post("/school/api/marks", requestData)
                .then(res => this.marks.push(res.data.mark))
                .catch(err => handleResponseError(err, "Не вдалось додати оцінку"));
        }
    }
};
</script>

<style scoped>
    .journal-action {
        font-size: 18px;
    }

    .column-header {
        min-width: 48px;
        padding: 0;
        font-size: 15px;
        font-weight: 400;
        text-align: center
    }

    .table__wrapper {
        overflow-x: auto;
    }

    .table__wrapper-wrapper {
        width: 100%;
    }

    .journal-mark-input {
        min-width: 48px;
    }

    .column-header {
        cursor: pointer;
    }


    .headers-row:hover .column-header-add-info {
        display: block;
    }

    .column-header-add-info {
        display: none;
    }

</style>
