<template>
    <div>
        <div class="columns">
            <div class="column is-1-offset">
                <h2 class="title is-3">Останні новини</h2>
            </div>
            <div class="column has-text-right" v-if="canUserManageNews">
                <a class="button is-info" href="news/create">
                    Додати нову новину
                </a>
            </div>
        </div>
        <div class="columns" v-for="newsItem in news" style="position: relative">
        <span class="icon delete-icon" @click="deleteNewsItem(newsItem)" v-if="canUserManageNews">
            <i class="fa fa-remove"></i>
        </span>
            <div class="column">
                <div class="image-wrapper">
                    <a class="reset-link" :href="'/school/news/' + newsItem.id" style="height: 100%; width: 100%">
                        <img :src="newsItem.image_url" style="max-height: 100%; width: 100%;">
                    </a>
                </div>
                <div class="content">
                    <h1>
                        <a class="reset-link" :href="'/school/news/' + newsItem.id">{{ newsItem.title }}</a>
                    </h1>
                    <p>{{ newsItem.preview_text }}</p>
                </div>
            </div>
        </div>
        <hr class="is-divider">
        <pagination-arrows
            :prev-url="prevPageUrl"
            :next-url="nextPageUrl"
        />
    </div>
</template>

<script>
import PaginationArrows from "../components/PaginationArrows";
import axios from "axios";
import Notifications from "../../Notifications";
import {handleResponseError} from "../../helpers";

export default {
    components: {PaginationArrows},
    name: "news-container",
    props: {
        news: {
            type: Array,
            required: true
        },
        nextPageUrl: {},
        prevPageUrl: {},
        canUserManageNews: {
            default: false
        }
    },
    methods: {
        deleteNewsItem(newsItem) {
            if (!confirm("Ви дійсно хочете видалити новину?")) {
                return;
            }

            axios.delete("/school/api/news/" + newsItem.id).then(() => {
                Notifications.success("Новина успішно видалена.");
                window.location.reload();
            }).catch(err => handleResponseError(err, "Не вдалось видалити новину."));
        }
    }
};
</script>

<style scoped>
    .image-wrapper {
        display: inline-block;
        width: 130px;
        margin-right: 10px;
        height: 130px;
    }

    .content {
        width: calc(100% - 150px);
        display: inline-block;
        vertical-align: top;
    }

    .is-divider {
        margin-right: -20px;
        margin-left: -20px;
        -webkit-margin-before: 0;
    }

    .delete-icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .delete-icon:hover {
        cursor: pointer;
    }
</style>
