<template>
    <div class="container box">
        <mobile-page-title title="Профіль" :margined="false"/>
        <div class="columns ">
            <div class="column has-text-centered">
                <h4 class="title is-4">
                    <img :src="avatar" style="display: inline; height: 1rem">
                    {{ userData.first_name }} {{ userData.middle_name }} {{ userData.last_name }}
                </h4>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half">
                <div class="panel">
                    <div class="panel-heading">
                        Редагувати дані профілю
                    </div>
                    <div class="panel-block" style="display: block">
                        <form @submit.prevent="updateProfileData">
                        <form-field>
                            <v-image-input
                                    label="Аватар"
                                    v-model="avatar"
                            />
                        </form-field>
                        <form-field>
                            <v-input label="Логін" v-model="login"/>
                        </form-field>
                        <div class="has-text-centered">
                            <bulma-button type="submit" class="is-info" text="Оновити дані"/>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="panel">
                    <div class="panel-heading">
                        Змінити пароль
                    </div>
                    <div class="panel-block" style="display: block">
                        <form @submit.prevent="updatePassword">
                            <form-field>
                                <v-input label="Старий пароль" type="password" v-model="oldPassword"/>
                            </form-field>
                            <form-field>
                                <v-input label="Новий пароль" type="password" v-model="newPassword"/>
                            </form-field>
                            <form-field>
                                <v-input label="Повторіть новий пароль" type="password"
                                         v-model="newPasswordConfirmation"/>
                            </form-field>
                            <div class="has-text-centered">
                                <bulma-button type="submit" class="is-info" text="Оновити пароль"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import MobilePageTitle from "../components/MobilePageTitle";
import VInput from "../../components/VInput";
import VStaticInput from "../../components/VStaticInput";
import FormField from "../../components/FormField";
import BulmaButton from "../../components/BulmaButton";
import VImageInput from "../../components/VImageInput";
import Notifications from "../../Notifications";
import {handleResponseError} from "../../helpers";
import axios from "axios";

export default {
    components: {
        VImageInput,
        BulmaButton,
        FormField,
        VStaticInput,
        VInput,
        MobilePageTitle
    },
    name: "profile-container",
    props: {
        userData: {
            required: true,
            type: Object
        }
    },
    data() {
        return {
            login: this.userData.login,
            avatar: this.userData.avatar_url,
            oldPassword: "",
            newPassword: "",
            newPasswordConfirmation: "",
        };
    },
    methods: {
        updatePassword() {
            axios.put("/school/api/profile/password", {
                old_password: this.oldPassword,
                password: this.newPassword,
                password_confirmation: this.newPasswordConfirmation
            }).then(() =>
                Notifications.success("Пароль успішно змінено")
            ).catch(err => handleResponseError(err, "Не вдалось змінити пароль"));
        },

        updateProfileData() {
            axios.put("/school/api/profile", {
                avatar: this.avatar.length > 100 ? this.avatar : null,
                login: this.login
            }).then(() =>
                Notifications.success("Дані профіля успішно змінені")
            ).catch(err => handleResponseError(err, "Не вдалося змінити дані профілю"));
        }
    }
};
</script>

<style scoped>

</style>
