<template>
    <form @submit.prevent="loginIntoSystem">
        <modal title="Увійти в систему" ref="authModal" class="animated fadeIn">
            <template slot="body">
                <form-field>
                    <v-input id="auth__login" label="Логін" v-model="login"/>
                </form-field>
                <form-field>
                    <v-input id="auth__pass" label="Пароль" v-model="password" type="password"/>
                </form-field>
            </template>
            <template slot="footer">
                <div class="has-text-centered" style="width: 100%">
                    <button id="auth__submit" type="submit" class="button">Увійти</button>
                </div>
            </template>
        </modal>
    </form>
</template>

<script>
import Modal from "../../components/Modal";
import FormField from "../../components/FormField";
import VInput from "../../components/VInput";
import axios from "axios";
import {handleResponseError} from "../../helpers";

export default {
    components: {
        VInput,
        FormField,
        Modal
    },
    name: "auth",
    data() {
        return {
            login: "",
            password: ""
        };
    },
    methods: {
        loginIntoSystem() {
            const requestData = {
                login: this.login,
                password: this.password
            };

            axios.post("/auth/login", requestData).then(() => {
                window.location.href = "/school";
            }).catch(err => handleResponseError(err, "Не вдалось увійти"));
        }
    },

    mounted() {
        document.getElementById("_auth").onclick = e => {
            e.preventDefault();
            this.$refs.authModal.show();
        };
    }
};
</script>

<style scoped>

</style>
