<template>
    <modal ref="modal" title="Заявка на підключення школи">
            <div class="columns" slot="body">
                <div class="column is-12">
                    <div v-if="isSubmitted">
                        Заявка на підключення вашої школи успішно відправлена.<br/>
                        Переглянути статус заявки можна за посиланням:<br/>
                        <a :href="'http://diploma.my/applications/' + schoolApplicationID">
                            http://diploma.my/applications/ {{ schoolApplicationID }}
                        </a>
                    </div>
                    <tabs ref="tabs" :allow-switching="false" :tabs="[
                    {contentSlotName: 'school_data', title: '1. Дані навчального закладу'},
                    {contentSlotName: 'sender_data', title: '2. Дані відправника'},
                    {contentSlotName: 'confirmation', title: '3. Підтвердження'}
                ]" v-else>
                        <template slot="school_data">
                            <form-field>
                                <v-select :label="ui.labels.region"
                                          :options="regionOptions"
                                          id="join__region"
                                          placeholder="Оберіть область"
                                          v-model="school_application.school_region_id"
                                />
                            </form-field>
                            <form-field>
                                <v-select
                                        :label="ui.labels.city"
                                        :options="cityOptions"
                                        id="join__city"
                                        placeholder="Оберіть населений пункт"
                                        v-model="school_application.school_city_id"
                                />
                            </form-field>
                            <form-field>
                                <v-select
                                        :label="ui.labels.organization_type"
                                        :options="orgTypeOptions"
                                        id="join__orgtype"
                                        v-model="school_application.school_organization_type_id"
                                />
                            </form-field>
                            <form-field>
                                <v-input
                                        :label="ui.labels.short_name"
                                        id="join__shortname"
                                        :placeholder="ui.placeholders.short_name"
                                        v-model="school_application.school_short_name"
                                />
                            </form-field>
                            <form-field>
                                <v-textarea
                                        :label="ui.labels.full_name"
                                        id="join__fullname"
                                        :placeholder="ui.placeholders.full_name"
                                        v-model="school_application.school_full_name"
                                />
                            </form-field>
                            <form-field>
                                <v-input
                                        :label="ui.labels.phone_number"
                                        :placeholder="ui.placeholders.phone_number"
                                        id="join__phonenumber"
                                        v-model="school_application.school_phone_number"
                                />
                            </form-field>
                            <div class="columns">
                                <div class="column is-6 is-offset-6 has-text-left">
                                    <button class="button" @click="nextTab">Далі</button>
                                </div>
                            </div>
                        </template>
                        <template slot="sender_data">
                            <form-field>
                                <v-input
                                        id="s_first_name"
                                        :label="ui.labels.first_name"
                                        v-model="school_application.sender_first_name"
                                />
                            </form-field>
                            <form-field>
                                <v-input
                                        id="s_middle_name"
                                        :label="ui.labels.middle_name"
                                        v-model="school_application.sender_middle_name"
                                />
                            </form-field>
                            <form-field>
                                <v-input
                                        id="s_last_name"
                                        :label="ui.labels.last_name"
                                        v-model="school_application.sender_last_name"
                                />
                            </form-field>
                            <form-field>
                                <v-input
                                        id="s_position"
                                        :label="ui.labels.position"
                                        v-model="school_application.sender_position"
                                />
                            </form-field>
                            <form-field>
                                <v-input
                                        id="s_email"
                                        :label="ui.labels.email"
                                        v-model="school_application.sender_email"
                                />
                            </form-field>
                            <form-field>
                                <v-input
                                        id="s_phone"
                                        :label="ui.labels.phone_number"
                                        v-model="school_application.sender_phone_number"
                                />
                            </form-field>

                            <div class="columns">
                                <div class="column is-6 has-text-right">
                                    <button class="button" @click="prevTab">Назад</button>
                                </div>
                                <div class="column is-6 has-text-left">
                                    <button class="button" @click="nextTab">Далі</button>
                                </div>
                            </div>
                        </template>
                        <template slot="confirmation">
                            <p style="width: 100%; text-align: center">Дані школи:</p>
                            <table class="table is-fullwidth confirmation_table">
                                <tbody>
                                <tr>
                                    <td>Область:</td>
                                    <td>{{ displayedSchoolRegion || '-' }}</td>
                                </tr>
                                <tr>
                                    <td>Населений пункт:</td>
                                    <td>{{ displayedSchoolCity || '-'}}</td>
                                </tr>
                                <tr>
                                    <td>Організаційна форма:</td>
                                    <td>{{ displayedSchoolOrgType || '-'}}</td>
                                </tr>
                                <tr>
                                    <td>Коротка назва:</td>
                                    <td>{{ school_application.school_short_name || '-' }}</td>
                                </tr>
                                <tr>
                                    <td>Повна назва:</td>
                                    <td>{{ school_application.school_full_name || '-'}}</td>
                                </tr>
                                <tr>
                                    <td>Номер телефону:</td>
                                    <td>{{ school_application.school_phone_number || '-' }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <p style="width: 100%; text-align: center">Ваші дані:</p>
                            <table class="table is-fullwidth confirmation_table">
                                <tbody>
                                <tr>
                                    <td>ПІБ:</td>
                                    <td>
                                        {{`${school_application.sender_last_name}
                                        ${school_application.sender_first_name}
                                        ${school_application.sender_middle_name}` }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Посада:</td>
                                    <td>{{ school_application.sender_position || ''}}</td>
                                </tr>
                                <tr>
                                    <td>Номер телефону:</td>
                                    <td>{{ school_application.sender_phone_number || ''}}</td>
                                </tr>
                                <tr>
                                    <td>Е-mail:</td>
                                    <td>{{ school_application.sender_email }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="columns">
                                <div class="column is-6 has-text-right">
                                    <button class="button" @click="prevTab">Назад</button>
                                </div>
                                <div class="column is-6 has-text-left">
                                    <button class="button" @click="submitApplication">Відправити заявку</button>
                                </div>
                            </div>
                        </template>
                    </tabs>
                </div>
            </div>
            <div class="columns">
                <div class="column is-12-mobile is-6-desktop is-offset-3-desktop">

                </div>
            </div>
    </modal>
</template>

<script>
import VInput from "../../components/VInput";
import VSelect from "../../components/VSelect";
import FormField from "../../components/FormField";
import VTextarea from "../../components/VTextarea";
import Tabs from "../../components/Tabs";
import {handleResponseError} from "../../helpers";
import Modal from "../../components/Modal";
import axios from "axios";

export default {
    components: {
        Modal,
        Tabs,
        VTextarea,
        FormField,
        VSelect,
        VInput,
    },
    name: "school-application",
    props: {
        cities: {},
        regions: {},
        organizationTypes: {}
    },

    computed: {
        regionOptions() {
            return this.regions.map(region => ({
                value: region.id,
                label: region.name
            }));
        },

        cityOptions() {
            return this.cities
                .filter(city => city.region_id == this.school_application.school_region_id)
                .map(city => ({
                    value: city.id,
                    label: city.name
                }));
        },

        orgTypeOptions() {
            return this.organizationTypes.map(type => ({
                value: type.id,
                label: type.name
            }));
        },

        displayedSchoolOrgType() {
            const orgType = this.organizationTypes.find(
                orgType => orgType.id == this.school_application.school_organization_type_id
            );
            return orgType ? orgType.name : null;
        },

        displayedSchoolCity() {
            const selectedCity = this.cities.find(
                city => city.id == this.school_application.school_city_id
            );
            return selectedCity ? selectedCity.name : null;
        },

        displayedSchoolRegion() {
            const selectedRegion = this.regions.find(
                region => region.id == this.school_application.school_region_id
            );
            return selectedRegion ? selectedRegion.name : null;
        }
    },
    data() {
        return {
            isSubmitted: false,
            schoolApplicationID: null,
            school_application: {
                school_region_id: null,
                school_city_id: null,
                school_organization_type_id: this.organizationTypes.length ? this.organizationTypes[0].id : null,
                school_short_name: "",
                school_full_name: "",
                school_phone_number: "",
                sender_last_name: "",
                sender_first_name: "",
                sender_middle_name: "",
                sender_position: "",
                sender_email: "",
                sender_phone_number: "",
            },

            ui: {
                labels: {
                    short_name: "Коротка назва",
                    full_name: "Повна назви школи",
                    email: "E-mail",
                    phone_number: "Номер телефону школи",
                    region: "Область",
                    city: "Населений пункт",
                    organization_type: "Орг. форма НЗ",
                    first_name: "Ім`я",
                    last_name: "Прізвище",
                    middle_name: "По-батькові",
                    position: "Посада"
                },
                placeholders: {
                    short_name: "Наприклад,Школа № 1",
                    full_name: "Наприклад, Любомльська ЗОШ №2 ім. Наталії Ужвій",
                    phone_number: "Наприклад,+380 (44) 111-22-22",
                }
            }
        };
    },
    methods: {
        submitApplication() {
            const requestData = {
                school_city_id: this.school_application.school_city_id,
                school_organization_type_id: this.school_application.school_organization_type_id,
                school_short_name: this.school_application.school_short_name,
                school_full_name: this.school_application.school_full_name,
                school_phone_number: this.school_application.school_phone_number,
                sender_first_name: this.school_application.sender_first_name,
                sender_middle_name: this.school_application.sender_middle_name,
                sender_last_name: this.school_application.sender_last_name,
                sender_position: this.school_application.sender_position,
                sender_email: this.school_application.sender_email,
                sender_phone_number: this.school_application.sender_phone_number
            };

            axios
                .post("/api/school_applications", requestData).then(res => {
                    this.schoolApplicationID = res.data.application.id;
                    this.isSubmitted = true;

                }).catch(
                    err => handleResponseError(err, "Не вдалось відправити заявку.")
                );
        },

        nextTab() {
            this.$refs.tabs.nextTab();
            this.$forceUpdate();

        },

        prevTab() {
            this.$refs.tabs.prevTab();
            this.$forceUpdate();

        },
    },

    mounted() {
        document.getElementById("_join").onclick = e => {
            e.preventDefault();
            this.$refs.modal.show();
        };
        window.test = this;

    }
};
</script>

<style scoped>
    .confirmation_table tr td:last-of-type {
        text-align: right;
    }
</style>
