
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "~vue-wysiwyg/dist/vueWysiwyg.css";

// Bulma
@import "~bulma/bulma.sass";

// Noty
@import "~noty/src/noty.scss";
@import "~noty/src/themes/bootstrap-v3";

@import "~font-awesome/scss/font-awesome.scss";

@import "~animate.css/animate.css";

// Variables
@import "variables";

#noty_layout__bottomLeft {
  width: 500px;
}

.reset-link, .reset-link:hover, .reset-link:visited {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.spinner {
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  padding-left: 14px;
}
