<template>
    <editable-items-list
            :items="teachers"
            :form-fields="formFields"
            :items-title="itemsTitle"
            :add-item-title="addItemTitle"
            :edit-item-title="editItemTitle"
            :delete-item-title="deleteItemTitle"
            :show-item="showItem"
            :api-url="apiUrl"
            :search="search"
    />
</template>

<script>
import EditableItemsList from "../../components/EditableItemsList";

export default {
    components: {
        EditableItemsList,
    },
    name: "index-teachers",
    props: ["teachers"],
    data() {
        return {
            formFields: [
                {type: "static", key: "login", label: "Логін", help: "Генерується автоматично"},
                {type: "text", key: "last_name", label: "Прізвище"},
                {type: "text", key: "first_name", label: "Ім'я"},
                {type: "text", key: "middle_name", label: "По батькові"},
            ],
            itemsTitle: "Вчителі",
            addItemTitle: "Додати вчителя",
            editItemTitle: "Редагувати дані вчителя",
            deleteItemTitle: "Видалити вчителя",
            showItem: item => `${item.last_name} ${item.first_name} ${item.middle_name}`,
            apiUrl: "/school_management/api/teachers",
            search: (teacher, searchQuery) => {
                console.log("h!!");
                return `${teacher.first_name} ${teacher.middle_name} ${teacher.last_name}`
                    .toLowerCase()
                    .search(searchQuery) !== -1;
            }
        };
    },
};
</script>
