<template>
    <div class="container">
        <form @submit.prevent="storeParent">
            <modal :default-data="getDataForCreation()" title="Додати опікуна" ref="createParentModal">
                <template slot="body" slot-scope="props">
                    <form-field>
                        <div class="control">
                            <label class="radio">
                                <input type="radio"
                                       :checked="props.parentType === 'NEW'"
                                       name="question"
                                       @change="props.change('parentType', 'NEW')"
                                >
                                Створити нового користувача
                            </label>
                            <label class="radio">
                                <input type="radio"
                                       :checked="props.parentType === 'EXISTING'"
                                       name="question"
                                       @change="props.change('parentType', 'EXISTING')"
                                >
                                Додати з існуючих користувачів
                            </label>
                        </div>
                    </form-field>
                    <div v-if="props.parentType === 'NEW'">
                        <form-field>
                            <v-static-input label="Логін" help="Генерується автоматично"/>
                        </form-field>
                        <form-field>
                            <v-input
                                    label="Прізвище"
                                    @input="props.change('last_name', $event)"
                                    :value="props.last_name"
                            />
                        </form-field>
                        <form-field>
                            <v-input
                                    label="Ім'я"
                                    @input="props.change('first_name', $event)"
                                    :value="props.first_name"
                            />
                        </form-field>
                        <form-field>
                            <v-input
                                    label="По-батькові"
                                    @input="props.change('middle_name', $event)"
                                    :value="props.middle_name"
                            />
                        </form-field>
                    </div>
                    <div v-else>
                        <form-field>
                            <v-input
                                label="Логін користувача"
                                @input="props.change('login', $event)"
                                :value="props.login"
                            />
                        </form-field>
                    </div>
                </template>
                <template slot="footer" slot-scope="props">
                    <bulma-button fa-icon="save"
                                  text="Додати"
                    />
                </template>
            </modal>
        </form>
        <form @submit.prevent="updateParent">
            <modal :default-data="getDataForCreation()" title="Опікун" ref="editParentModal">
                <template slot="body" slot-scope="props">
                    <div>
                        <form-field>
                            <v-static-input
                                    label="Логін"
                                    help="Генерується автоматично"
                                    :value="props.login"
                            />
                        </form-field>
                        <form-field>
                            <v-input
                                    label="Прізвище"
                                    :value="props.last_name"
                            />
                        </form-field>
                        <form-field>
                            <v-input
                                    label="Імя"
                                    :value="props.first_name"
                            />
                        </form-field>
                        <form-field>
                            <v-input
                                    label="По-батькові"
                                    :value="props.middle_name"
                            />
                        </form-field>
                    </div>
                </template>
                <template slot="footer" slot-scope="props">
                    <bulma-button fa-icon="save"
                                  text="Зберегти"
                    />
                </template>
            </modal>
        </form>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="panel">
                    <div class="panel-heading">
                        Опікуни
                    </div>
                    <div class="panel-block add-new-item-row">
                        <div class="columns">
                            <div class="column has-text-right">
                                <bulma-button fa-icon="plus" text="Додати нового опікуна" @click="openCreateForm"/>
                            </div>
                        </div>
                    </div>
                    <template v-if="1">
                        <div class="panel-block" v-for="parent in parents">
                            <div class="columns">
                                <div class="column is-9">
                                    {{ parent.first_name }} {{ parent.middle_name }} {{ parent.last_name }}
                                </div>
                                <div class="column is-3 has-text-right">
                                    <bulma-button
                                            fa-icon="edit"
                                            :small="true"
                                            @click="openUpdateForm(parent)"
                                    />
                                    <bulma-button
                                            fa-icon="remove"
                                            :small="true"
                                            @click="deleteParent(parent)"
                                    />
                                </div>
                            </div>
                        </div>
                    </template>
                    <div class="panel-block" v-else>
                        <div class="columns">
                            <div class="column is-12 has-text-centered">
                                Список пустий
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import BulmaButton from "../../components/BulmaButton";
import Modal from "../../components/Modal";
import FormField from "../../components/FormField";
import VInput from "../../components/VInput";
import VStaticInput from "../../components/VStaticInput";
import axios from "axios";
import Notifications from "../../Notifications";
import {handleResponseError} from "../../helpers";

export default {
    components: {
        VStaticInput,
        VInput,
        FormField,
        Modal,
        BulmaButton
    },
    name: "index-student-parents",
    props: {
        parents: {
            type: Array
        },
        userId: {
            required: true,
        }
    },
    methods: {
        getDataForCreation() {
            return {
                parentType: "NEW",
                first_name: "",
                middle_name: "",
                last_name: "",
                login: ""
            };
        },

        openCreateForm()
        {
            this.$refs.createParentModal.show(this.getDataForCreation());
        },

        openUpdateForm(parent)
        {
            this.$refs.editParentModal.show({
                id: parent.id,
                login: parent.login,
                first_name: parent.first_name,
                middle_name: parent.middle_name,
                last_name: parent.last_name
            });
        },

        storeParent()
        {
            axios.post("/school_management/api/student/" + this.userId +"/parents",
                this.$refs.createParentModal.getInnerData()
            ).then(() => {
                window.location.reload();
                this.$refs.createParentModal.hide();
                Notifications.success("Зміни успішно збережні");

            }).catch(err => handleResponseError(err, "Не вдалось зберегти зміни"));

        },

        deleteParent(parent) {
            this.parents = this.parents.filter(p => p.id != parent.id);
            this.$forceUpdate();
        },

        updateParent()
        {
            this.$refs.editParentModal.getInnerData();
            this.$refs.editParentModal.hide();
            Notifications.success("Зміни успішно збережні");
        }
    }
};
</script>

<style scoped>
    .panel-block {
        display: block;
    }
</style>
