<template>
    <editable-items-list
            :items="groups"
            :items-title="itemsTitle"
            :add-item-title="addItemTitle"
            :edit-item-title="editItemTitle"
            :delete-item-title="deleteItemTitle"
            :form-fields="formFields"
            :show-item="showItem"
            :api-url="apiURL"
            :default-item-data="defaultItemData"
            :search="search"
    >
        <template slot="additional-actions" slot-scope="props">
            <bulma-button
                    :small="true"
                    fa-icon="user"
                    title="Редагувати список учнів навчальної групи"
                    :link="'/school_management/students/' + props.item.id"
            />
            <bulma-button
                    :small="true"
                    fa-icon="calendar"
                    title="Редагувати розклад для навчальної групи"
                    :link="'/school_management/timetable/' + props.item.id"
            />
        </template>
    </editable-items-list>
</template>

<script>
import EditableItemsList from "../../components/EditableItemsList";
import BulmaButton from "../../components/BulmaButton";

export default {
    components: {
        BulmaButton,
        EditableItemsList,
    },
    data() {
        return {
            formFields: [
                {
                    type: "select",
                    key: "year",
                    label: "Навчальний рік",
                    options: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11].map(year => ({label: year, value: year})),
                    placeholder: "Оберіть навчальний рік"
                },
                {
                    type: "text",
                    key: "title",
                    label: "Назва для відображення",
                    placeholder: "Наприклад, 11-А"
                }
            ],
            itemsTitle: "Навчальні групи",
            addItemTitle: "Додати навчальну групу",
            editItemTitle: "Редагувати навчальну групу",
            deleteItemTitle: "Видалити навчальну групу",
            showItem: item => item.title,
            apiURL: "/school_management/api/groups",
            defaultItemData: {
                id: null,
                year: null,
                title: null
            },
            search: (group, searchQuery) => {
                return group.title.toLowerCase().search(searchQuery) !== -1;
            }
        };
    },
    name: "index-groups",
    props: ["groups"]
};
</script>

<style scoped>

</style>
