<template>
    <editable-items-list
            :items="students"
            :items-title="itemsTitle"
            :add-item-title="addItemTitle"
            :edit-item-title="editItemTitle"
            :delete-item-title="deleteItemTitle"
            :form-fields="formFields"
            :show-item="showItem"
            :api-url="apiURL"
            :search="search"
    >
        <template slot="additional-actions" slot-scope="props">
            <bulma-button
                    :small="true"
                    fa-icon="users"
                    title="Редагувати опікунів учня"
                    :link="'/school_management/student/' + props.item.id + '/parents/'"
            />
        </template>
    </editable-items-list>
</template>

<script>
import EditableItemsList from "../../components/EditableItemsList";
import BulmaButton from "../../components/BulmaButton";

export default {
    components: {
        BulmaButton,
        EditableItemsList,
    },
    name: "index-students",
    props: ["students", "groupId"],
    data() {
        return {
            formFields: [
                {type: "text", key: "last_name", label: "Прізвище"},
                {type: "text", key: "first_name", label: "Ім'я"},
                {type: "text", key: "middle_name", label: "По батькові"},
            ],
            itemsTitle: "Учні",
            addItemTitle: "Додати учня",
            editItemTitle: "Редагувати дані учня",
            deleteItemTitle: "Видалити учня",
            apiURL: "/school_management/api/students/" + this.groupId,
            showItem: item => `${item.last_name} ${item.first_name} ${item.middle_name}`,
            search: (student, searchQuery) => {
                console.log("h!!");
                return `${student.first_name} ${student.middle_name} ${student.last_name}`
                    .toLowerCase()
                    .search(searchQuery) !== -1;
            }
        };
    },
};
</script>

<style scoped>
</style>
