<template>
    <div>
        <div class="container">
            <div class="columns" style="margin-bottom: 30px">
                <div class="column is-10 is-offset-1">
                    <div class="panel-heading">
                        Навчальний процес
                    </div>
                    <div class="panel-block" style="display: block">
                        <div class="columns is-vcentered">
                            <div class="column is-2 is-1-full-fullhd has-text-centered">
                                <v-select :options='[
                                    {label: "5", value: "5"},
                                    {label: "6", value: "6"}
                                ]' v-model="daysInWeek"/>
                            </div>
                            <div class="column is-10">
                                Кількість навчальних днів на тиждень
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <editable-items-list
                    ref="breaksList"
                    :form-fields="[
                        {type: 'date', key: 'from', label: 'Від'},
                        {type: 'date', key: 'to', label: 'До'},
                        {type: 'text', key: 'reason', label: 'Причина'}
                    ]"
                    add-item-title="Додати нову перерву в навчанні"
                    edit-item-title="Редагувати перерву в навчанні"
                    delete-item-title="Видалити перерву в навчанні"
                    :items="yearBreaks"
                    api-url="/api/"
                    :show-item="() => 123"
                    items-title="Перерви в навчанні"
                    :on-item-create="onBreakCreate"
                    :on-item-update="onBreakUpdate"
                    :on-item-delete="onBreakDelete"
            >
                <div slot="item" slot-scope="props" class="columns">
                    <div class="column is-3 has-text-centered">
                        {{ breakPeriodTime(props.item) }}
                    </div>
                    <div class="column is-9">
                        {{ props.item.reason }}
                    </div>
                </div>
            </editable-items-list>
        </div>
    </div>
</template>

<script>
import BulmaButton from "../../components/BulmaButton";
import EditableItemsList from "../../components/EditableItemsList";
import {formatDate, handleResponseError} from "../../helpers";
import VInput from "../../components/VInput";
import VSelect from "../../components/VSelect";
import SavingNotifications from "../../SaveNotifications";
import _ from "lodash";
import axios from "axios";

export default {
    components: {
        VSelect,
        VInput,
        EditableItemsList,
        BulmaButton
    },
    name: "school-settings",
    watch: {
        daysInWeek() {
            this.saveDaysInWeekChange();
        }
    },
    props: [
        "daysInWeek",
        "breaks"
    ],
    data: function () {
        return {
            yearBreaks: _.cloneDeep(this.breaks),
        };
    },
    methods: {
        breakPeriodTime(breakInYear) {
            if (breakInYear.from == breakInYear.to) {
                return formatDate(breakInYear.from);
            }

            return `${formatDate(breakInYear.from)} - ${formatDate(breakInYear.to)}`;
        },

        saveDaysInWeekChange() {
            SavingNotifications.loading();

            axios.put("/school_management/api/school_settings", {
                breaks: this.yearBreaks,
                days_in_week: this.daysInWeek
            })
                .then(() => {
                    SavingNotifications.save();
                    this.$refs.breaksList.editableItems = _.cloneDeep(this.yearBreaks);
                    this.$refs.breaksList.$refs.formModal.hide();
                })
                .catch(error => {
                    SavingNotifications.stop();
                    this.yearBreaks = _.cloneDeep(this.$refs.breaksList.editableItems);
                    handleResponseError(error, "Не вдалось зберегти зміни");
                });
        },

        onBreakCreate(data) {
            this.yearBreaks.push({
                from: data.from,
                to: data.to,
                reason: data.reason
            });
            this.saveDaysInWeekChange();
        },

        onBreakUpdate(data) {
            this.yearBreaks = this.yearBreaks.map((yearBreak, index) => {
                if (index === data.id) {
                    return {
                        from: data.from,
                        to: data.to,
                        reason: data.reason
                    };
                }

                return yearBreak;
            });

            this.saveDaysInWeekChange();

        },

        onBreakDelete(deletedItem) {
            this.yearBreaks = this.yearBreaks.filter(yearBreak => {
                return !(deletedItem.from === yearBreak.from
                        && deletedItem.to === yearBreak.to
                        && deletedItem.reason === yearBreak.reason
                )
                ;
            });
            this.saveDaysInWeekChange();
        }


    }
};
</script>

<style scoped>

</style>
