<template>
    <div class="container">
        <modal ref="subjectModal" :title="subjectInModal.creating ? 'Додати новий предмет' : 'Редагувати предмет'">
            <template slot="body">
                <v-input label="Назва предмету" v-model="subjectInModal.title"/>
                <v-select placeholder="Оберіть викладача"
                          label="Викладач"
                          v-model="subjectInModal.teacher_id"
                          :options="teacherOptions"
                />
            </template>
            <template slot="footer">
                <div class="columns" style="align-items: center;justify-content: center; width: 100%;">
                    <button class="button is-success" @click="onModalSaveClick">
                       <span class="icon" style="margin-right: 4px;">
                           <i class="fa fa-save"></i></span>
                        <span v-if="subjectInModal.creating">Додати</span>
                        <span v-else>Зберегти</span>
                    </button>
                </div>
            </template>
        </modal>
        <div class="columns">
            <div class="column is-2-desktop is-3-fullhd">
                <div class="panel">
                    <p class="panel-heading">
                        Предмети
                    </p>
                    <div id="subjects-list" style="direction: rtl; height: calc(100vh - 250px); overflow-y: scroll;">
                        <div class="list" style="direction: ltr">
                            <ul class="menu-list">
                                <li>
                                    <div class="menu-list__item" @click="onAddSubjectClick">
                                        <div class="menu-list__item-title has-text-centered"><i class="fa fa-plus"></i>
                                        </div>
                                        <div class="menu-list__item-subtitle has-text-centered">Додати новий предмет
                                        </div>
                                    </div>
                                </li>
                                <li v-for="subject in groupSubjects">
                                    <drag class="drag" :transfer-data="subject" @dragstart="onSubjectDragStart">
                                        <div class="menu-list__item">
                                            <div class="menu-list__item-title">{{ subject.title }}</div>
                                            <div class="menu-list__item-subtitle">
                                            <span v-if="subject.teacher_id">
                                                {{ teacherTitle(teachers.find(teacher => teacher.id == subject.teacher_id)) }}
                                            </span>
                                                <span v-else>
                                                Викладач не призначений
                                            </span>
                                            </div>
                                            <div class="menu_list__item-actions">
                                            <span class="menu_list__item-edit-action">
                                                <i class="fa fa-edit" @click="onEditSubjectClick(subject)"></i>
                                            </span>
                                                <span class="menu_list__item-remove-action">
                                                <i class="fa fa-remove" @click="onDeleteSubjectClick(subject.id)"></i>
                                            </span>
                                            </div>
                                        </div>
                                    </drag>
                                </li>
                                <li>
                                    <div class="menu-list__item" @click="onAddSubjectClick">
                                        <div class="menu-list__item-title has-text-centered"><i class="fa fa-plus"></i>
                                        </div>
                                        <div class="menu-list__item-subtitle has-text-centered">Додати новий предмет
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-10-desktop is-9-fullhd">
                <div class="panel">
                    <p class="panel-heading">
                        Розклад
                    </p>
                    <div class="timetable">
                        <div class="timetable__head">
                            <div v-for="dayNumber in daysCount" class="timetable__day-header"
                                 :style="{width:  parseInt(100/daysCount) + '%'}">
                                {{ days[dayNumber - 1] }}
                            </div>
                        </div>
                        <div class="timetable_body">
                            <div v-for="dayNumber in daysCount"
                                 class="timetable__day"
                                 :style="{width:  parseInt(100/daysCount) + '%'}">
                                <drop v-for="subjectNumber in dailySubjectsCount"
                                      :key="subjectNumber"
                                      @dragover="data => onTimetableItemDragOver(data, dayNumber, subjectNumber)"
                                      @dragleave="timetable[dayNumber - 1][subjectNumber - 1].isDragOver = false"
                                      @drop="data => onTimetableItemDrop(data, dayNumber, subjectNumber)">
                                    <div
                                            :class="{
                                        'timetable__item': true,
                                        'timetable__item--dragover': timetable[dayNumber - 1][subjectNumber - 1].isDragOver,
                                        'clear-left-border': timetable[dayNumber - 2]
                                                            && timetable[dayNumber - 2][subjectNumber - 1]
                                                            && timetable[dayNumber - 2][subjectNumber - 1].isDragOver,
                                        'clear-top-border': timetable[dayNumber - 1]
                                                            && timetable[dayNumber - 1][subjectNumber - 2]
                                                            && timetable[dayNumber - 1][subjectNumber - 2].isDragOver
                                }">
                                    <span v-if="timetable[dayNumber - 1][subjectNumber - 1].isDragOver">
                                        {{ subjectNumber }}. {{ draggableSubjectTitle }}
                                    </span>
                                        <span v-else-if="timetable[dayNumber - 1][subjectNumber - 1].subject_id"
                                              style="cursor: pointer"
                                              @click="timetableItemClick()"
                                        >
                                        {{ subjectNumber }}.
                                        {{ groupSubjects.find(subject =>
                                            subject.id == timetable[dayNumber - 1][subjectNumber - 1].subject_id
                                        ).title
                                        }}
                                        <span class="timetable-item-icons">
                                        <span class="icon delete-timetable-item-icon"
                                              @click.stop="onTimetableItemDelete(dayNumber - 1, subjectNumber -1)">
                                        <i class="fa fa-trash"></i>
                                        </span>
                                        </span>
                                    </span>
                                    </div>
                                </drop>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {Drag, Drop} from "vue-drag-drop";
import Modal from "../components/Modal";
import _ from "lodash";
import VInput from "../components/VInput";
import VSelect from "../components/VSelect";
import axios from "axios";
import {handleResponseError} from "../helpers";

export default {
    name: "timetable",
    components: {
        VSelect,
        VInput,
        Modal,
        Drag,
        Drop
    },
    props: {
        daysCount: {
            required: true,
            type: Number
        },

        dailySubjectsCount: {
            required: true,
            type: Number
        },

        subjects: {
            required: true,
            type: Array
        },

        teachers: {
            required: true,
            type: Array
        },
        groupTimetable: {
            required: true,
            type: Array
        },
        groupId: {}

    },

    computed: {
        teacherOptions() {
            return this.teachers.map(teacher => ({
                value: teacher.id,
                label: `${teacher.last_name} ${teacher.first_name.substr(0, 1)}. ${teacher.middle_name.substr(0, 1)}.`
            }));
        }
    },

    data() {
        return {
            days: [
                "Понеділок",
                "Вівторок",
                "Середа",
                "Четверг",
                "П'ятниця",
                "Cубота"
            ],
            groupSubjects: _.cloneDeep(this.subjects),
            timetable: this.transformTimetableFromApiPresentation(this.groupTimetable),
            subjectInModal: this.getDataForModalForCreatingSubject(),
            draggableSubjectTitle: "",
        };
    },
    methods: {
        transformTimetableFromApiPresentation(apiTimetable) {
            const timetable = [];
            for (let i = 0; i < this.daysCount; i++) {
                timetable[i] = [];
                for (let j = 0; j < this.dailySubjectsCount; j++) {
                    let subjectID = null;
                    let item = apiTimetable.find(
                        (item) => item.subject_number == (j + 1) && item.day_number == (i + 1)
                    );

                    if (item) {
                        subjectID = item.group_subject_id;
                    }

                    timetable[i][j] = {
                        isDragOver: false,
                        subject_id: subjectID
                    };
                }
            }

            return timetable;
        },

        transformTimetableToApiPresentation(timetable) {
            const result = [];
            for (let i = 0; i < this.daysCount; i++) {
                for (let j = 0; j < this.dailySubjectsCount; j++) {
                    const subjectID = timetable[i][j].subject_id;
                    if (subjectID) {
                        result.push({
                            day_number: i + 1,
                            subject_number: j + 1,
                            group_subject_id: subjectID
                        });
                    }
                }
            }

            return result;
        },
        timetableItemClick() {
            alert("clicked!");
        },

        onSubjectDragStart(subject) {
            this.draggableSubjectTitle = subject.title;
        },

        onTimetableItemDragOver(data, dayNumber, subjectNumber) {
            this.timetable[dayNumber - 1][subjectNumber - 1].isDragOver = true;
        },

        onTimetableItemDrop(data, dayNumber, subjectNumber) {
            this.timetable[dayNumber - 1][subjectNumber - 1].subject_id = data.id;
            this.timetable[dayNumber - 1][subjectNumber - 1].isDragOver = false;
            this.saveChanges();
        },

        teacherTitle(teacher) {
            return `${teacher.last_name} ${teacher.first_name.substr(0, 1)}. ${teacher.middle_name.substr(0, 1)}.`;
        },

        onAddSubjectClick() {
            this.subjectInModal = this.getDataForModalForCreatingSubject();
            this.$refs.subjectModal.show();
        },

        onEditSubjectClick(subject) {
            this.subjectInModal = this.getDataForModalForEditingSubject(subject);
            this.$refs.subjectModal.show();
        },

        onDeleteSubjectClick(subjectID) {
            if (!confirm("Ви впевнені?")) {
                return;
            }

            axios.delete("/school_management/api/subjects/" + subjectID).then(() => {
                this.timetable.map(dailySubjects => {
                    return dailySubjects.map(dailySubject => {
                        if (subjectID == dailySubject.subject_id) {
                            dailySubject.subject_id = null;
                                
                        }
                        return dailySubject;
                    });
                });

                this.groupSubjects = this.groupSubjects.filter(subject => subject.id != subjectID);
            }).catch(err => handleResponseError(err, "Неможливо видалити предмет"));
        },

        onModalSaveClick() {
            const subjectData = {
                title: this.subjectInModal.title,
                teacher_id: this.subjectInModal.teacher_id
            };

            if (this.subjectInModal.creating) {
                this.storeSubject(subjectData);

            } else {
                this.updateSubject(subjectData, this.subjectInModal.id);
            }
        },

        storeSubject(subjectData) {
            axios.post("/school_management/api/subjects/group/" + this.groupId, subjectData).then(res => {
                this.groupSubjects = this.groupSubjects.concat([res.data.subject]);
                this.$refs.subjectModal.hide();
                let container = this.$el.querySelector("#subjects-list");
                container.scrollTop = container.scrollHeight;

            }).catch(err => handleResponseError(err, "Неможливо додати предмет"));
        },

        updateSubject(subjectData, subjectId) {
            axios.put("/school_management/api/subjects/" + subjectId, subjectData).then(res => {

                this.groupSubjects = this.groupSubjects.map(subject => {
                    return subject.id == subjectId
                        ? res.data.subject
                        : subject;
                });

                this.$refs.subjectModal.hide();

            }).catch(err => handleResponseError(err, "Неможливо зберегти зміни"));
        },

        getDataForModalForCreatingSubject() {
            return {
                id: null,
                creating: true,
                title: "",
                teacher_id: null
            };
        },

        onTimetableItemDelete(dayNumber, subjectNumber) {
            this.timetable[dayNumber][subjectNumber].subject_id = null;
            this.saveChanges();
        },

        getDataForModalForEditingSubject(subject) {
            return {
                id: subject.id,
                creating: false,
                title: subject.title,
                teacher_id: subject.teacher_id
            };
        },

        saveChanges() {
            const timetable = this.transformTimetableToApiPresentation(this.timetable);
            axios.put("/school_management/api/timetable/" + this.groupId, {
                timetable: timetable
            }).then(() => {
                console.log("saved!");
            }).catch(err => handleResponseError(err, "Неможливо зберегти зміни"));
        }
    }
};
</script>
<style>
    .timetable_body, .timetable__head {
        display: block;
        width: 100%;
        clear: both;
    }

    .timetable__day-header, .timetable__day {
        display: block;
        float: left;
    }

    .timetable__day-header {
        height: 50px;
        padding-top: 10px;
        padding-left: 5px;
    }

    .timetable__item {
        position: relative;;
        height: 65px;
        padding: 5px;
        border-collapse: collapse;
        border: 1px solid black;
    }

    .timetable__day div:not(:last-of-type) .timetable__item {
        border-bottom: none;
    }

    .timetable__day:not(:last-of-type) .timetable__item {
        border-right: none;
    }

    .clear-left-border {
        border-left-color: transparent;
    }

    .clear-top-border {
        border-top-color: transparent;
    }

    .timetable__item--dragover {
        border: 1px dashed black !important;
    }

    .menu-list__item {
        border-radius: 2px;
        color: #4a4a4a;
        display: block;
        padding: 0.5em 0.75em;
    }

    .menu-list__item:hover {
        background-color: whitesmoke;
        color: #363636;
        cursor: pointer;
        text-decoration: none;
    }

    .menu-list__item-title {
        font-size: 20px;
    }

    .menu-list__item-subtitle {
        font-size: 14px;
    }

    .menu-list__item {
        position: relative;
    }

    .menu_list__item-actions {
        position: absolute;
        right: 0;
        top: 0;
    }

    .timetable-item-icons {
        position: absolute;
        bottom: 0;
        right: 4px;
        font-size: 22px;
        display: none;
    }

    .timetable__item:hover .timetable-item-icons {
        display: block;
    }

    .delete-timetable-item-icon {
        cursor: pointer;
    }
</style>
