<template>
    <pagination-arrows :prev-url="this.prevWeekUrl" :next-url="this.nextWeekUrl">
        <div class="date-from">
            <div class="date-from-text-wrapper">
                <h3 class="date">{{ this.dayFromTitle}}</h3>
                <h4 class="month">{{ this.monthFromTitle }}</h4>
            </div>
        </div>
        <div class="hyphen">-</div>
        <div class="date-to">
            <div class="date-to-text-wrapper">
                <h3 class="date">{{ this.dayToTitle }}</h3>
                <h4 class="month">{{ this.monthToTitle }}</h4>
            </div>
        </div>
    </pagination-arrows>
</template>

<script>
import PaginationArrows from "./PaginationArrows";

export default {
    components: {PaginationArrows},
    props: {
        dayFromTitle: {
            type: [String, Number],
            required: true
        },
        monthFromTitle: {
            type: String,
            required: true,
        },
        dayToTitle: {
            type: [String, Number],
            required: true
        },
        monthToTitle: {
            type: String,
            required: true
        },
        prevWeekUrl: {
            type: String,
            required: false
        },
        nextWeekUrl: {
            type: String,
            required: false
        }
    },
    name: "daybook-pagination"
};
</script>

<style scoped>
    .date-from, .date-to {
        width: 50%;
        float: left;
    }

    .date {
        text-align: center;
        font-size: 35px;
        font-weight: 500;
        margin-bottom: -10px;
    }

    .month {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
    }

    .hyphen {
        position: absolute;
        top: 30%;
        left: 50%;
        font-size: 24px;
        font-weight: 900;
    }

    .date-from-text-wrapper, .date-to-text-wrapper {
        width: 110px;
    }

    .date-from-text-wrapper {
        float: right;
    }

    .date-to-text-wrapper {
        float: left;
    }

    @media (min-width: 764px) {
        .month {
            font-size: 25px;
        }

        .date {
            font-size: 40px;
        }

        .date-from-text-wrapper, .date-to-text-wrapper {
            width: 170px;
        }
    }
</style>
