<template>
    <div class="columns">
        <modal title="Інформація про предмет" ref="subjectModal">
            <template slot="body" slot-scope="props">
                <div class="columns">
                    <div class="column">
                        <h5 class="title is-4">Математика</h5>
                    </div>
                </div>
                <div class="columns is-mobile" style="font-size: 18px">
                    <div class="column is-8">
                        <a class="reset-link">
                            Йосипчук Зінаїда Степанівна
                        </a>
                    </div>
                </div>
                <div class="columns is-mobile" style="font-size: 18px">
                    <div class="column">
                        <a class="reset-link">
                        <span class="icon">
                            <i class="fa fa-book"></i>
                        </span>
                            Навчальні матеріали
                        </a>
                    </div>
                </div>
            </template>
        </modal>
        <modal title="Інформація про оцінку" ref="markModal">
            <template slot="body" slot-scope="props">
                <div class="columns is-mobile" style="font-size: 18px">
                    <div class="column is-4 has-text-right">
                        Оцінка:
                    </div>
                    <div class="column is-8">
                        <b>{{ props.value }}</b>
                    </div>
                </div>
                <div class="columns is-mobile" style="font-size: 18px">
                    <div class="column is-4 has-text-right">
                        Тип:
                    </div>
                    <div class="column is-8">
                        <b>{{ props.type  || '-' }}</b>
                    </div>
                </div>
                <div class="columns is-mobile" style="font-size: 18px">
                    <div class="column is-4 has-text-right">
                        Дата:
                    </div>
                    <div class="column is-8">
                        <b>{{ props.date }}</b>
                    </div>
                </div>
            </template>
        </modal>
        <modal title="Домашнє завдання" ref="homeworkModal">
            <template slot="body" slot-scope="props">
                {{ props.homework }}
            </template>
        </modal>
        <div class="column">
            <div class="panel">
                <p class="panel-heading">
                    {{ this.daynameTitle }}, {{ this.dayTitle }} {{ this.monthTitle }}
                </p>
                <div v-for="subject in this.subjects" class="panel-block" style="display: block">
                    <div :class="{'columns is-mobile subject-columns': true, 'subject-columns-with-padding-bottom': subject.homework}">
                        <div class="column is-3-desktop is-10-touch">
                            {{ subject.number }}. <a class="reset-link" @click.prevent="openSubjectModal">{{ subject.title }}</a>
                        </div>
                        <div class="column is-7-desktop is-10-touch homework-column">
                            <a class="reset-link" @click.prevent="openHomeworkModal(subject)">
                                {{ subject.homework }}
                            </a>
                        </div>
                        <div class="column is-2-desktop is-2-touch has-text-centered has-text-right-mobile has-text-right-tablet">
                            <div class="mark" v-for="mark in subject.marks">
                                <a class="reset-link" @click.prevent="openMarkModal(mark)">
                                {{  mark.value }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Modal from "../../components/Modal";
import FormField from "../../components/FormField";

export default {
    components: {
        FormField,
        Modal},
    name: "daybook-day",
    props: {
        dayTitle: {
            type: [String, Number],
            required: true,
        },
        daynameTitle: {
            type: [String],
            required: true
        },
        monthTitle: {
            type: String,
            required: true,
        },
        subjects: {
            type: Array,
            required: true,
        }
    },
    methods: {
        openSubjectModal() {
            this.$refs.subjectModal.show();
        },
        openMarkModal(mark) {
            this.$refs.markModal.show({
                type: mark.type,
                value: mark.value,
                date: mark.date_formatted
            });
        },
        openHomeworkModal(subject) {
            this.$refs.homeworkModal.show(subject);
        }
    }
};
</script>

<style scoped>
    .homework-column {
        position: absolute;
        top: 35px;
        font-style: italic;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mark {
        font-weight: 500;
    }

    .subject-columns {
        position: relative;
    }

    .subject-columns-with-padding-bottom {
        padding-bottom: 30px;
    }

    @media(min-width: 1024px) {
        .mark {
            width: 40px;
            float: right;
        }

        .homework-column {
            position: unset;
            top: unset;
        }

        .subject-columns-with-padding-bottom {
            padding-bottom: unset;
        }
    }
</style>
