<template>
    <td class="mark-cell">
        <template v-if="!this.value">
            <span class="icon angle-down-icon" @click="toggleChooseMarkModal()">
                <i class="fa fa-angle-down"></i>
            </span>
        </template>
        <template v-else>
            <span class="icon angle-down-icon" @click="deleteMark">
                <i class="fa fa-remove"></i>
            </span>
        </template>
        <div class="select-mark-modal" v-show="showChooseMarkModal">
            <div class="selected-mark" v-for="a in markValues">
                <span class="selected-mark-text" @click="changeMark(a)">{{ a.title }}</span>
            </div>
        </div>
        <input class="mark-input" readonly="readonly" :value="getValueForInput()">
    </td>
</template>

<script>
import Modal from "../../components/Modal";

export default {
    components: {Modal},
    name: "journal-mark-input",
    props: {
        value: {
            required: true,
        }
    },
    data() {
        return {
            showChooseMarkModal: false,
            markValues: window.markValues
        };
    },
    methods: {
        changeMark(mark) {
            this.$emit("update", mark);
            this.toggleChooseMarkModal();
        },

        toggleChooseMarkModal() {
            this.showChooseMarkModal = !this.showChooseMarkModal;
        },

        getValueForInput() {
            if (this.value) {
                return this.markValues.filter(markValue => markValue.id === this.value.mark_value_id)[0].title;
            }

            return null;
        },
        deleteMark() {
            this.$emit("delete", this.value);
        }
    }
};
</script>

<style scoped>
    .mark-input {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 24px;
        font-weight: 200;
        text-align: center;
    }

    .mark-cell {
        padding: 0;
        height: 41px;
        position: relative;
    }

    .angle-down-icon {
        position: absolute;
        top: -2px;
        right: 0;
        cursor: pointer;
        width: 1.0rem;
        height: 1.0rem;
        opacity: 0.5;
    }

    .select-mark-modal {
        position: absolute;
        top: 40%;
        z-index: 10000;
        right: 0;
        background-color: #209cee;
        width: 160px;
        border-radius: 2px;

    }

    .selected-mark {
        text-align: center;
        width: 40px;
        height: 35px;
        display: inline-block;
        font-size: 20px;
    }

    .selected-mark-text {
        cursor: pointer;
        color: white;
    }

    .selected-mark-text:hover {
        text-decoration: underline;
    }

</style>
