<template>
    <a :class="{'panel-block': true, 'not_read': !isRead }" :href="'/school/messages/' + userId">
        <div class="columns is-mobile message-columns">
            <div class="column is-12-mobile is-9-desktop">
                <h4 class="title is-5" style="margin-bottom: 0">
                    <img :src="userAvatarUrl" style="border-radius: 2px; display: inline; height: 1rem;">
                    {{ conservationTitle }}
                </h4>
            </div>
            <div class="column is-hidden-mobile is-3-desktop has-text-right">
                                    <span class="icon">
                                      <i class="fa fa-clock-o"></i>
                                    </span>{{ lastMessageAt }}
            </div>
        </div>
        <p class="message-text">{{ lastMessageText }}</p>
    </a>
</template>

<script>
export default {
    name: "messages-single-message",
    props: {
        conservationTitle: {
            type: String,
            required: true
        },

        conservationType: {
            type: String,
            required: true
        },

        lastMessageText: {
            type: String,
            required: true
        },

        lastMessageAt: {
            type: String,
            required: true
        },

        isRead: {
            type: Boolean,
            required: true
        },

        userId: {
            type: Number
        },

        userAvatarUrl: {
            type: String
        }
    }
};
</script>

<style scoped>
    .panel-block {
        display: block;
        background: white;
    }

    .message-columns {
        margin-bottom: 0;
    }

    .message-text {
        color: darkgray;
        padding-left: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .not_read {
        background: lightblue;
    }


</style>
