<template>
    <div :class="{'panel-heading is-hidden-desktop': true, 'margined': margined}">
        <h2 class="title is-3  has-text-centered">{{ title }}</h2>
    </div>
</template>

<script>
export default {
    name: "mobile-page-title",
    props: {
        title: {
            type: String,
            required: true
        },

        margined: {
            type: Boolean,
            default: true
        }
    }
};
</script>

<style scoped>
    .panel-heading:not(.margined) {
        -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    }

    .panel-heading.margined {
        margin: -20px -20px 18px -20px;
    }

</style>
