<template>
    <div class="columns is-mobile" style="margin-left: -20px; margin-right: -20px; margin-top: -20px;">
        <a :class="{'reset-link column has-text-left is-2 arrow' : true, 'disabled': !prevUrl}"
           :href="prevUrl">
            <span class="icon">
                <i class="fa fa-angle-left fa-5x"></i>
            </span>
        </a>
        <div class="column has-text-right is-8" style="position: relative">
            <slot/>
        </div>
        <a :class="{'reset-link column has-text-left is-2 arrow' : true, 'disabled': !nextUrl}"
           :href="nextUrl"
           style="justify-content: flex-end;">
            <span class="icon">
                <i class="fa fa-angle-right fa-5x"></i>
            </span>
        </a>
    </div>
</template>

<script>
export default {
    name: "pagination-arrows",
    props: {
        prevUrl: {
            type: String,
            required: false
        },

        nextUrl: {
            type: String,
            required: false
        }
    }
};
</script>

<style scoped>
    .arrow {
        display: flex !important;
        align-items: center;
    }

    .arrow:not(.disabled):hover {
        background: lightgrey;
        cursor: pointer;
    }

    .arrow.disabled {
        opacity: 0.5;
        cursor: default;
    }
</style>
